<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>

    <%- include('../partials/index_style'); %>

</head>
<body>
<%- include('../partials/navbar'); %>
<hr>
<div class="container">
    <h1 class="display-5 text-center">About Us</h1>
    <hr>

    <h1 class="display-6 text-center">Top sneakers with delivery in Kazakhstan!</h1>

    <ul class="list-group list-group-flush text-center">
        <li class="list-group-item">Always the best deals</li>
        <li class="list-group-item">Always the most current prices</li>
        <li class="list-group-item">Always a quick and convenient search for products and analogues</li>
        <li class="list-group-item">Always seasonal sales, promotions and discounts</li>
        <li class="list-group-item">Always timely information about new products</li>
        <li class="list-group-item">We work for those who value their time, save their budget and love</li>

    </ul>
    <br><br>
    <hr>
    <h1 class="display-5 text-center">Contact Us</h1>
    <hr>
<div class="text-center">
    <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
        <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off">
        <label class="btn btn-outline-primary" for="btncheck1">Instagram</label>

        <input type="checkbox" class="btn-check" id="btncheck2" autocomplete="off">
        <label class="btn btn-outline-primary" for="btncheck2">Telegram</label>

        <input type="checkbox" class="btn-check" id="btncheck3" autocomplete="off">
        <label class="btn btn-outline-primary" for="btncheck3">Facebook</label>
    </div>
</div>
<br><br><br>

</div>
</body>
</html>
