<div class="page-light">
    <div class="wrapper">

        <div class="navbar navbar-expand-lg navbar-light">
            <div>
                <ul class="nav">
                    <li class="nav-item">
                        <button class="nav-link" style="border: none; background: #F5F2E7"
                                onclick="location.href = '/shopping'"><span class="lead">Shop</span>
                        </button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link" style="border: none; background: #F5F2E7"
                                onclick="location.href = '/payment'"><span class="lead">Payment and delivery</span>
                        </button>
                    </li>
                </ul>
            </div>
            <button style="border: none; background: #F5F2E7" onclick="location.href = '/'"><img
                        class="header-logo mx-5"
                        src="https://res.cloudinary.com/dluwizg51/image/upload/v1650629222/logo_mfbosg.png"
                        alt="Logo"></button>
            <ul class="nav nav-info">
                <li class="nav-item">
                    <button class="nav-link" style="border: none; background: #F5F2E7"
                            onclick="location.href = '/about'"><span class="lead">About Us</span>
                    </button>
                </li>
                <li class="nav-item">
                    <button class="nav-link" style="border: none; background: #F5F2E7"
                            onclick="location.href = '/profile'"><span class="lead">Profile</span>
                    </button>
                </li>
            </ul>
            <button class="cart">
                <span class="cart-count">0</span>
            </button>
        </div>
    </div>
</div>