<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>

    <%- include('../partials/index_style'); %>

</head>
<body style="background: #F5F2E7">
<%- include('../partials/navbar'); %>
<hr>
<div class="container">
    <h1 class="display-5 text-center">Payment and Delivery</h1>

    <p class="lead text-center">We draw your attention to this, that led prices and characteristic of the goods carry distinctive signs of a distinctive feature. For the received detailed information about the characteristic goods, their embodiment and cost, please contact the managers of our company, complaining</p>

    <p class="lead text-center">Delivery and payment. An individual approach to each client allows us to make the best offer to the end customer, both in terms of prices and payment terms.</p>

    <p class="lead text-center">All prices are inclusive of VAT.
        Product prices may vary depending on individual conditions and changes in manufacturers' selling prices. The appearance of the product may differ from the image in the online store, while its functional purpose corresponds to the specified description.</p>
    <p class="lead text-center">Payment
    <p class="text-center">Our customers can visit the customer service center.
    <p class="text-center">Cash to the courier (in the cities of Almaty, Nur-Sultan).
    <p class="text-center"> Payment by Kaspi Gold transfer
    <p class="text-center"> Payment by Cloud Payments
    <p class="text-center"> Deferred payment at the conclusion of the contract.
    <p class="text-center"> Cashless payment (only for legal entities)
    <p class="text-center"> Consignment</p>

    <p class="text-center" style="color: red"> Do not pay the bills until they are checked by the manager!</p>

    <p class="lead text-center">Delivery
        Terms of Delivery

        Free delivery in the city of Almaty to order over 7000 tenge is carried out in the square of the streets of Sain -VOAD - Ryskulov - Al-Farabi. Paid delivery in this square with an order amount of less than 7000 tenge will be equal to 1000 tenge.
        Delivery in the city of Almaty outside the square is negotiated separately and will depend on the distance (in km).
        Delivery is carried out on working days from 9:00 to 18:00.
        Free delivery in the city of Nursultan to order over 7000 tenge is free of charge.
        Paid delivery in the city of Nur-Sultan .  if the order amount is less than 7000 tenge, it will be equal to 1000 tenge.
        If an order is placed before 17.00 and there is a free delivery limit, delivery is carried out on the next working day.  Only for the cities of Almaty and Nur-Sultan</p>
</div>
</body>
</html>
